<!-- Main Footer -->
<footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
        Rails 6 + AdminLTE 3
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2020 <a href="mailto:mkdika@gmail.com">Maikel Chandika</a>.</strong> All rights reserved.
</footer>
